body {
    font-family: sans-serif;
    padding: 45px;
}

code {
    font-family: monospace;
}

pre {
    padding: .5em;
    border: 1px solid #808080;
}

blockquote {
    margin: 0;
    border-left: .3em solid #808080;
    padding-left: 1em;
}

table {
  border: 1px solid #808080;
  border-collapse: collapse;
}

th, td {
  border: 1px solid lightgray;
  padding: .2em;
}
