body {
    font-family: sans-serif;
    margin: 1em;
}

code {
    font-family: monospace;
}

pre {
    padding: .5em;
    background-color: #f7f7f7;
}

blockquote {
    margin: 0;
    border-left: .3em solid lightgray;
    padding-left: 1em;
}

img {
    border: 2px solid lightgray;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th, td {
    border: 1px solid lightgray;
    padding: .2em;
}
